* {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.sgvicon {
    margin: 0;
    padding: 0;
    border-radius:4px;
    background-color: #fff;
}
.sgvicon:hover {
    background-color: #74a7e4;
}

.nav {
    padding: 20px 30px 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #98c0f6;
}
.logo-nav {
    width: 180px;
}
.menu {
    display: flex;
}


.menu-item {
    text-decoration: none;
    color: #004574;
    margin-right: 5px;
    margin-left: 5px;
    padding: 7px;
}
.menu-item:hover {
    color: #0074c2;
    border-bottom: solid 1px #004574;
}
.social-item {
    margin-left: 5px;
    text-decoration: none;
}

.big-title {
    font-size: xx-large;
}

.landingview {
    width: auto;
    padding: 10px 30px 10px 30px;
    min-height: calc(100vh - 85px);


    -webkit-animation:mymove 0.8s linear;
    /* Safari and Chrome */
    animation:mymove 0.8s linear;
    background-color: #98c0f6;;
    background-image: url('img/landing.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
@-webkit-keyframes mymove {
    from {
        background-position: 0% 120vh;
    }
    to {
        background-position: 0% 0%;
    }
}
@keyframes mymove {
    from {
        background-position: 0% 120vh;
    }
    to {
        background-position: 0% 0%;
    }
}

.nosotros {
    width: auto;
    padding: 0px 30px 10px 30px;
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: space-between;
}
.jump {
    position: relative;
    text-align: center;
    padding: 50px 50px 0px 0px;
}
.nino {
    margin-bottom: 71px;
    position: -webkit-sticky; 
    position: sticky;
    top: 0px;
    bottom: 0px;
    right: 20px;
}
.tramp {
    margin-top: 122px;
    position: -webkit-sticky; 
    position: sticky;
    top: 75vh;
    bottom: 0px;
    right: 20px;
}



.divisor {
    width: auto;
    min-height: 200px;
    background-image: url('img/divisor.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}


.servicios {
    width: auto;
    padding: 10px 30px 10px 30px;
    background-color: #ececec;
    min-height: 100vh;
}
/*Cards*/
.container-card{
	width: auto;
	display: flex;
	justify-content: center;
	max-width: 1100px;
	margin: auto;
}
.title-cards{
	width: auto;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card-info {
    width: 50%;
}
.card-contact-info {
    width: min-content;
}
.card-title-footer {
    text-align: center;
    color: #fff;
    text-shadow: #004574 0.1em 0.1em 0.2em;
}
.color-gris {
    color: #3f3f3f;
}
.color-azul {
    color: #004574;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: auto;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
    text-align: left;
}
/*Fin-Cards*/


.tel-divider {
    width: auto;
    min-height: 70vh;
    background-color: #98c0f6;
    background-image: url("img/fondo-tel.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tel- {
    text-align: center;
    color: #004574;
    font-weight: bold;
    text-shadow: #ffffff 0.1em 0.1em 0.2em;
}
.logo-tel {
    width: 100px;
    margin-bottom: 15px;
}


.galeria {
    width: auto;
}
.title-galeria {
    width: auto;
    margin: 0;
    padding: 30px 0px 0px 0px;
    text-align: center;
    color: #fff;
    text-shadow: #004574 0.1em 0.1em 0.2em;
    background-color: #5589c4;
}
#container-slider
{
    position: relative;
    display: block;
    width: 100%;
    background-color: #5589c4;
}
#container-slider img {
    filter: brightness(80%);
}
#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(255, 255, 255, 0.90);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}
.content_slider{
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    min-height: 100%;
}
.content_slider img {
    width: 70%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    padding: 0;
}
.content_slider{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid {
    background: #FFF  !important;
}



.recomendaciones {
    width: auto;
    min-height: 70vh;
    padding: 10px 30px 10px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #74a7e4;
}
.title-recomendaciones {
    width: auto;
    margin: 0;
    padding: 30px 30px 0px 30px;
    text-align: center;
    color: #fff;
    text-shadow: #004574 0.1em 0.1em 0.2em;
    background-color: #74a7e4;
}
.nina {
    margin: 10px 0px 30px 0px;
}
.img-recomendaciones-content{
    width: min-content;
    text-align: right;
}


.footer {
    position: relative;
    width: auto;
    padding: 60px 30px 10px 30px;
    min-height: 65vh;
    background-image: url('img/footer.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.elements-contact {
    display: flex;
    align-items: end;
}
.icons-footer {
    color: #000;
    font-size: 25px;
    cursor: pointer;
    margin-right: 15px;
}
.creditos {
    width: auto;
    padding: 12px;
    text-align: center;
    background-color: #000;
}
.creditos-text {
    text-decoration: none;
    font-family: monospace;
    color: #fff;
}



@media screen and (max-width: 850px){
    .menu {
        display: none;
    }
    .social {
        display: none;
    }
}

@media only screen and (max-width:600px){
	.nosotros {
        width: auto;
        padding: 0px 30px 10px 30px;
        min-height: calc(100vh - 100px);
        display: block;
        justify-content: center;
    }
    .card-info {
        width: auto;
    }
}

@media only screen and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}


@media screen and (max-width: 460px){
	.content_slider h2 {
	    font-size: 15pt !important;
	}
	.content_slider p {
	    font-size: 12pt !important;
	}
	#container-slider .arrowPrev, #container-slider .arrowNext{
		font-size: 20pt;
	}
	#container-slider .arrowPrev{
		left: 15px;
	}
	#container-slider .arrowNext{
		right: 15px !important;
	}
	#slider{
		height: 400px;
		min-height: 400px;
	}
	#slider li .content_slider{
		padding: 0;
	}
	.btnSlider{
		padding: 10px 30px;
    	font-size: 10pt;
	}
}

@media only screen and (max-width:600px){
	.recomendaciones {
        width: auto;
        min-height: 70vh;
        padding: 10px 0px 30px 0px;
        display: block;
        text-align: center;
    }
    .img-recomendaciones-content {
        width: auto;
        text-align: center;
    }
    .img-recomendaciones-content a img {
        width: 90%;
    }

    .footer {
        padding: 60px 0px 10px 0px;
    }
    .card-contact-info {
        width: auto;
        text-align: center;
    }
}

@media only screen and (min-width:768px){

    .nav {
        padding: 20px 50px 10px 50px;
    }
    .landingview {
        padding: 10px 50px 10px 50px;
    }
    .nosotros {
        padding: 0px 50px 10px 50px;
    }
    .jump {
        padding: 30px 0px 20px 0px;
    }
    .servicios {
        padding: 10px 50px 10px 50px;
    }
    .recomendaciones {
        padding: 10px 50px 10px 50px;
    }
    .title-recomendaciones {
        padding: 30px 50px 0px 50px;
    }
    .footer {
        padding: 60px 50px 10px 50px;
    }


    .content_slider {
        width: 50vw;
        min-height: 100%;
        margin: auto;
    }
    .content_slider img {
        width: 50vw;
    }

    .card img{
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 1070px){

    .content_slider img {
        width: 35vw;
    }
}